.table-wrapper {
  max-height: 200px;
  overflow-y: auto;
  border-bottom: 1px solid var(--grey);
  border-radius: 10px;
}

table {
  --border: 1px solid var(--grey);

  border-radius: 10px;
  border: var(--border);
  background-color: white;

  border-spacing: 0;
  border-collapse: collapse;

  width: 100%;
}

th {
  background-color: #2665d2;
  color: white;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

td,
th {
  text-align: center;
  padding: 8px;
  vertical-align: middle;
}

table tr:not(:last-child) > td,
table tr:not(:last-child) > th {
  border-bottom: var(--border);
}

.extender {
  cursor: pointer;
}

.extended-row-head {
  font-weight: 700;
}
