.panel-container {
  display: flex;
  flex-direction: column;
}

.chart-info {
  display: flex;
  gap: 25px;
}

.fuelLevel {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.prediction-title {
  text-transform: uppercase;
}
