.tableContainer {
  width: 300px;
  border-radius: 12px !important;
  overflow: hidden;
}
.tableCell {
  border: 1.5px solid #b3b3b3 !important;
}
.mainContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}
